
body
	color #C0C0C0
	font-weight 700
h1
	
	color #283FDB
	font-size 1.2em

.columna
	background-color #FF8040	
	border 1px solid #FFFF00

.row
	margin-bottom 20px

.fila-a
	.columna
		background-color #00FF00		

.fila-b
	.columna
		background-color #804000		

.fila-c
	.columna
		background-color #112C39		

.fila-d
	.columna
		background-color #8000FF								